Repository plotly/plotlyjs.jl-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: dash, doc, infrastructure, deps

mapbox county choropleth
  julia/mapbox-county-choropleth.md
Labels: doc

Fix Broken Link
  .circleci/config.yml
Labels: none

add chart studio page
  julia/getting-started-with-chart-studio.md
Labels: doc

Update getting-started-with-chart-studio.md
  julia/getting-started-with-chart-studio.md
Labels: doc

new ML AI pages
  julia/knn-classification.md
  julia/ml-knn.md
  julia/ml-pca.md
  julia/ml-regression.md
  julia/pca-visualization.md
  julia/roc-and-pr-curves.md
  julia/t-sne-and-umap-projections.md
Labels: doc

Fix links to plot_config.js
  julia/configuration-options.md
Labels: doc

transform link at the bottom of 3d-volume.md into actually clickable
  julia/3d-volume.md
Labels: doc

updated rangemode within axes.md
  julia/axes.md
Labels: doc

fix reference link
  julia/sankey-diagram.md
Labels: doc

fix links
  julia/axes.md
  julia/line-charts.md
  julia/text-and-annotations.md
Labels: doc

update dependency
  Manifest.toml
Labels: deps

Update ci.yml
  .github/workflows/ci.yml
Labels: none

revert change
  .github/workflows/ci.yml
  Manifest.toml
Labels: deps

Update Manifest.toml
  Manifest.toml
Labels: deps

Revert "Update Manifest.toml"
  Manifest.toml
Labels: deps

Update Manifest.toml
  Manifest.toml
Labels: deps

Update Manifest.toml
  dash/Manifest.toml
Labels: dash

Update ci.yml
  .github/workflows/ci.yml
Labels: none

Update README.md with "maintained by community" badge
  README.md
Labels: none

adding code of conduct
  CODE_OF_CONDUCT.md
Labels: none

update links
  julia/2D-Histogram.md
  julia/2d-histogram-contour.md
Labels: doc

Update ci.yml
  .github/workflows/ci.yml
Labels: none

Update ci.yml
  .github/workflows/ci.yml
Labels: none

Delete Manifest.toml
  Manifest.toml
Labels: deps

.github/labeler.yml:

dash:
  - "./dash/*"

doc:
  - "./julia/*"

infrastructure:
  - "./*.jl"

deps:
  - "./*.toml"
